.containerPrincipalCard{
    width: 23vw;
    height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid gray;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

.cardImg {
    width: 80%;
    height: 50%;
}

.cardInfo {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem
}

.cardInfo > h3 {
    color: #231f20;
}

.cardInfo > p {
    color: #5e5f5a;
}

.containerPrincipalCard:hover{
    z-index: 1;
    background-color: rgb(136, 127, 127);
}