.containerPrincipalCard{
    width: 100%;
    height: 70vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: "Assistant", sans-serif;
}

.cardImg {
    width: 100%;
    height: 100%;
}

.cardInfo {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem
}