.containerPincipalShowcase{
    width: 100vw;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Assistant", sans-serif;
    padding: 1rem;
    margin: 2rem;
}

.containerTitleButton{
    height: 20%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10vw;
}

.containerTitleButton h2{
    font-size: 3rem;
}

.containerClotheCards{
    width: 99vw;
    height: 58vh;
    display: flex;
    justify-content: center;
    align-items: center;
}