.containerPrincipalClient{
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 0;
    font-family: 'Assistant', sans-serif;
}

.containerClientUi{
    width: 100%;
    min-height: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    gap: 0;
}

.containerElelements{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    min-height: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 2rem;
    overflow-y: auto;
}
