.containerPrincipalNotFound{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: 'Assistant', sans-serif;
    background-color: #f2f2f2;
}