.buttonNewProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #231f20;
    color: #f2f2f2;
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    gap: 0.5rem;
    font-family: "Assistant", sans-serif;
    transition: transform 0.5s ease-in-out;
}

.buttonNewProduct:hover {
    background-color: #5a4c4f ;  
}