.viewAllButton {
  width: 8vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: transparent;
  color: #706366;
  border: #706366 2px solid;
  font-size: 1rem;
  border-radius: 50px;
  font-weight: 500;
  font-family: "Assistant", sans-serif;
  transition: transform 0.5s ease-in-out;
}


.viewAllButton:hover {
  transform: scale(1.05);
  border: #231f20 3px solid;
  font-weight: 700;
}