.containerSideBarCart{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: #f2f2f2;
    gap: 2rem;
    font-family: 'Assistant', sans-serif;
}

.containerSideBarTitle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.price {
    width: 80%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.containerButtons{
    margin: 1rem;
    width: 95%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.containerButton{
    width: 100%;
    height: 30%;
}

.clothButton{
    width: 100%;
    height: 100%;
    background-color: rgb(65, 64, 64);
    border: none;
    color: black;
    font-size: 10pt;
}

.clothButton:hover{
    background-color: rgb(107, 100, 100);
    cursor: pointer;
}

