.containerHeader {
  width: 100%;
  height: 15vh;
  font-family: "Assistant", sans-serif;
  background-color: #f2f2f2;
}

.elementLink,
.elementLinkTitle {
  font-size: larger;
  color: var(--color-letra-normal);
  text-decoration: none !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  outline: none !important;
  font-weight: normal !important;
  cursor: pointer;
}

.elementLinkTitle {
  font-size: 3rem;
  font-weight: bold;
}

.elementLink:hover,
.elementLinkTitle:hover {
  color: var(--color-letra-hover);
}

.personLink {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}
